@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-light-orange: #D39D55;
    --color-fancy-red: #8D0B41;
    --shadow-3xl: 0 0px 20px rgba(141, 11, 65, 0.45);
    --color-yellow-light: #FFBC00;
    --color-semi-dark: #D6CFB4;
    --color-light-color: #FFF8E6;
    --color-light-pink: #FF416C;
    --color-dark-red: #A50000;
    --font-set-poppins: "Poppins", sans-serif;
}

@layer base {

    input::placeholder,
    textarea::placeholder {
        color: #fff;
    }
}

input:checked label {
    border-color: red;
}